body {

    margin: 0;
    padding: 0;
    font-family: Arial;
    background: linear-gradient(to right, #d9dbe6, #272629);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.student {

    width: 100%;
    max-width: 400px;
}
.form {

    background: rgb(172, 179, 201);
    padding: 25px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(3, 54, 14, 0.781);

}
.form h2 {

    text-align: center;
    margin-bottom: 30px;
}
.form input,
.form textarea {

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

    border: 1px solid #000000e0;
    border-radius: 5px;

    font-size: 16px;

}
.form input:focus,
.form textarea:focus {

    border-color: #667eea;
    outline: none;

}
.form button {

    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 5px;

    background: #7182ce;
    color: white;

    font-size: 18px;
    cursor: pointer;

    transition: 0.3s;
}
.form button:hover {

    background: #4e447e;
}
@media (max-width: 500px) {

    .form {

        margin: 10px;

    }

}
